@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-color: #ffcd9e;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero-left {
  width: 40em;
  height: 28em;
  .hero-heading {
    width: 97%;
    font-family: "Inter";
    font-weight: 700;
    color: #282828;
    font-size: 2em;
  }
  .hero-intro {
    width: 73%;
    font-family: "Inter";
    font-weight: 500;
    margin-top: 2em;
    font-size: 1.25em;
    color: #484848;
  }
  .hero-text {
    font-family: "Inter";
    font-weight: 800;
    color: #282828;
    margin: 1.5em 0;
    font-size: 1.3em;
  }
  .email {
    width: 100%;
    input {
      width: 48%;
      height: 4em;
      border: 4px solid #000000;
      border-radius: 8px;
      font-size: 1em;
      padding-left: 1em;
    }
    button {
      width: 37%;
      height: 4em;
      margin-left: 1em;
      background-color: #000000;
      color: white;
      border-radius: 8px;
      font-size: 1em;
    }
  }
  .email-footer{
    margin-top: 2em;
    font-family: "Inter";
    color: #FFFFFF;
    width: 48%;
    display: flex;
    justify-content: center;
  }
}
.nav-footer{
    width: 100vw;
    height: 30vh;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: 3em 20em 3em 13em;
    li{
        list-style: none;
    }
    .left-links{
        li{
            padding-top: 0.3em;
        }
        a{
            font-family: "Inter";
            font-weight: 400;
            font-size: 1.25em;
            color: #FFFFFF;
        }
    }
    .right-links{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .right-top > ul{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        a{
            color: #FFFFFF;
            font-size: 1.25em;
        }
        .social-media{
            display: flex;
            li{
                padding-left: 0.5em;
                padding-top: 0.5em;
            }
        }
        .right-bottom{
            margin-top: 2em;
        }
    }
}